<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".app.AppPickerActivity" />
        <activity
            android:name=".app.install.AppInstallActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.WeChat" />
        <activity
            android:name=".app.install.AppInstallResultActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.WeChat" />
    </application>
</manifest>
